* {
    --white: #FFF;
    --black: #000;
    --yellow: #FBD85D;
    --gray: #2a292f;
    --sunny: #F4D160;
    --sky: #00A9FF;
    --night-sky:  #0C356A;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--black);
    color: var(--white);
    max-width: 1440px;
    margin: auto;
}
